<h2 class="text-warning">Edit task</h2>

<% form_for("task", {controller: '/task', action: '/edit'}, function(f){ %>
  
  <%- f.hidden_field("id") %>
  <%- hidden_field_tag("_csrf", {value: token}) %>

  
    <div class="control-group">
      <%- f.label_for("title", {class : "control-label"}) %>
      <%- f.text_field("title", {class: "form-control"}) %>
    </div>
  
    <div class="control-group">
      <%- f.label_for("description", {class : "control-label"}) %>
      <%- f.text_area("description", {class: "form-control"}) %>
    </div>
  
    <div class="control-group">
      <%- f.label_for("schedule", {class : "control-label"}) %>
      <%- f.text_field("schedule", {class: "form-control"}) %>
    </div>
  
    <div class="control-group">
      <%- f.label_for("minDuration", {class : "control-label"}) %>
      <%- f.number_field("minDuration", {class: "form-control"}) %>
    </div>
  
    <div class="control-group">
      <%- f.label_for("maxDuration", {class : "control-label"}) %>
      <%- f.number_field("maxDuration", {class: "form-control"}) %>
    </div>
  

  <%- f.submit("Edit", {class : 'btn btn-warning'}) %>
<% }) %>

<%- link_to('back to list', '/task', {class : 'btn btn-primary'}) %>
