<h2 class="text-info">Details</h2>
<fieldset>
    <legend>taskLog</legend>

	
		<label for="title">title:</label>
		<p><%- taskLog.title %></p>
	
		<label for="description">description:</label>
		<p><%- taskLog.description %></p>
	
		<label for="severity">severity:</label>
		<p><%- taskLog.severity %></p>
	
		<label for="assigned">assigned:</label>
		<p><%- taskLog.assigned %></p>
	
		<label for="maxStart">maxStart:</label>
		<p><%- taskLog.maxStart %></p>
	
		<label for="maxEnd">maxEnd:</label>
		<p><%- taskLog.maxEnd %></p>
	
		<label for="start">start:</label>
		<p><%- taskLog.start %></p>
	
		<label for="end">end:</label>
		<p><%- taskLog.end %></p>
	

<%- link_to('edit', '/taskLog/edit/'+taskLog.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/taskLog', {class : 'btn btn-primary'}) %>
