<h2 class="text-success">Create chastityLog</h2>

<% form_for("chastityLog", {controller: '/chastityLog', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>
	<%- hidden_field_tag("_csrf", {value: token}) %>

	
	  <div class="control-group">
	    <%- f.label_for("start", {class : "control-label"}) %>
	    <%- f.date("start", {class: "form-control"}) %>
	  </div>
	
	  <div class="control-group">
	    <%- f.label_for("end", {class : "control-label"}) %>
	    <%- f.date("end", {class: "form-control"}) %>
	  </div>
	

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>

<%- link_to('back to list', '/chastityLog', {class : 'btn btn-primary'}) %>