<h2 class="text-danger">Delete</h2>
<fieldset>
    <legend>orgasmLog</legend>
    
      
            <label for="type">type:</label>
            <p><%- orgasmLog.type %></p>
      
            <label for="date">date:</label>
            <p><%- orgasmLog.date %></p>
      

    <% form_for('orgasmLog', {controller : '/orgasmLog', action: '/delete'}, function(f){ %>
        <%- f.hidden_field("id") %>
        <%- hidden_field_tag("_csrf", {value: token}) %>
        
        <p>
            <%- f.submit("Delete", {class : 'btn btn-danger'}) %>
        </p>
    <% }) %>
</fieldset>

<%- link_to('back to list', '/orgasmLog', {class : 'btn btn-primary'}) %>