<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            
            	<td>type</td>
        	
            	<td>date</td>
        	
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% orgasmLogs.forEach(function(orgasmLog){ %>
            <tr>
                <td><%- orgasmLog.id %></td>
                
                    <td><%- orgasmLog.type %></td>
                
                    <td><%- orgasmLog.date %></td>
                
                <td>
                    <%- link_to('show', '/orgasmLog/show/'+orgasmLog.id, {class : 'btn btn-info'}) %> |
                    <%- link_to('edit', '/orgasmLog/edit/'+orgasmLog.id, {class : 'btn btn-warning'}) %> |
                    <%- link_to('delete', '/orgasmLog/delete/'+orgasmLog.id, {class : 'btn btn-danger'}) %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- link_to('new orgasmLog', '/orgasmLog/new', {class : 'btn btn-primary'}) %>