<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header">
                <h3>Next Orgasm</h3>
                <p><%= formatDate(nextDate) %></p>
            </div>

            <div>
                <div class="text-center">
                    <div class="chart easyPieChart" data-percent="<%= pct %>">
                        <div><%= days %> Days</div>
                    </div>
                    <div class="toppad2">
                        <a class="btn btn-info" href="/orgasm/log/3">Sex</a>
                        <a class="btn btn-warning" href="/orgasm/log/5">Dual Masturbation (no sex)</a>
                        <a class="btn btn-danger" href="/orgasm/log/1">Masturbated</a>
                        <a class="btn btn-primary" href="/orgasm/log/2">Wet Dream</a>
                        <a class="btn btn-success" href="/orgasm/log/4">Prostate Massage</a>
                        
                    </div>
                </div>
            </div>
            
            <div>
                <div class="text-center">
                    <p class="toppad">
                        Your last orgasm was <strong><%= formatInterval(lastDate, null, true) %></strong> ago<br>
                        and occurred on <strong><%= formatDate(lastDate) %></strong>.
                    </p>
                    <p>
                        You will have gone a total of <strong><%= total %></strong> days without an orgasm.
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>

