<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">
            <div class="header">
                <h3>Exercise Log</h3>
            </div>
        </div>
        <div class="toppad"><%- link_to('new exerciseLog', '/exerciseLog/new', {class : 'btn btn-primary'}) %></div>
        <div class="toppad">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Sets</td>
                            <td>Reps</td>
                            <td>Start</td>
                            <td>End</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>

                        <% exerciseLogs.forEach(function(exerciseLog){ %>
                        <tr>
                            <td><%- exerciseLog.title %></td>
                            <td><%- exerciseLog.sets %></td>
                            <td><%- exerciseLog.reps %></td>
                            <td><%- exerciseLog.start %></td>
                            <td><%- exerciseLog.end %></td>
                            <td>
                                <a href="<%- '/exerciseLog/show/'+exerciseLog.id %>"><span class="glyphicon glyphicon-camera"></span></a>
                                <a href="<%- '/exerciseLog/edit/'+exerciseLog.id %>"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="<%- '/exerciseLog/delete/'+exerciseLog.id %>"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


