<h2 class="text-danger">Delete</h2>
<fieldset>
    <legend>foodLog</legend>
    
      
            <label for="title">title:</label>
            <p><%- foodLog.title %></p>
      
            <label for="points">points:</label>
            <p><%- foodLog.points %></p>
      
            <label for="date">date:</label>
            <p><%- moment.utc(foodLog.date).tz('America/New_York').format('dddd, MMMM Do YYYY, h:mm:ss a') %></p>
      

    <% form_for('foodLog', {controller : '/foodLog', action: '/delete'}, function(f){ %>
        <%- f.hidden_field("id") %>
        <%- hidden_field_tag("_csrf", {value: token}) %>
        
        <p>
            <%- f.submit("Delete", {class : 'btn btn-danger'}) %>
        </p>
    <% }) %>
</fieldset>

<%- link_to('back to list', '/foodLog', {class : 'btn btn-primary'}) %>