
<%
var foodList = 'var foods = [';

foods.forEach(function(food) {
    foodList += "'" + food.title + "',";
});

foodList += ']';
%>

<% inlineScripts.push(foodList); %>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">
            <div class="header">
                <h3>Food Log</h3>
            </div>
            <div class="toppad2">
                <form method="post" action="/foodLog/create" class="form-inline">
                    <input type="hidden" name="_csrf" value="<%= token %>" />
                    <!--
                    <select id="food" name="food" class='form-control'>
                        <% foods.forEach(function(food){ %>
                        <option value="<%- food.id %>"><%- food.title %></option>
                        <% }); %>
                    </select>
                    -->
                    <div id="foods" class="">
                        <input name="food" class="typeahead" class="" type="text" placeholder="What did you eat?">
                        <input type="submit" value="Add" class="btn btn-success" />
                        <a class="btn btn-primary" href="/food/new">New</a>
                    </div>
                    
                </form>
            </div>
            
            <div class="toppad">
                <h1><%- points %> <small>points</small></h1>
            </div>
            
            <div class="toppad">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td>Points</td>
                                <td>Added</td>
                            </tr>
                        </thead>
                        <tbody>

                            <% foodLogs.forEach(function(foodLog){ %>
                            <tr>
                                <td><%- foodLog.food.title %></td>
                                <td><%- foodLog.food.points %></td>
                                <td><%- foodLog.date %></td>
                           </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



