<h2 class="text-info">Details</h2>
<fieldset>
    <legend>foodLog</legend>

	
		<label for="title">title:</label>
		<p><%- foodLog.title %></p>
	
		<label for="points">points:</label>
		<p><%- foodLog.points %></p>
	
		<label for="date">date:</label>
		<p><%- foodLog.date %></p>
	

<%- link_to('edit', '/foodLog/edit/'+foodLog.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/foodLog', {class : 'btn btn-primary'}) %>
