<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header">
                <h3>Stats - Chastity</h3>

                <ul class="list-inline">
                    <li class=""><a href="/stats/orgasm">Orgasms</a></li>
                    <li class="active"><a href="/stats/chastity">Chastity</a></li>
                    <li class=""><a href="/stats/arousal">Arousal</a></li>
                    <li class=""><a href="/stats/punishment">Punishments</a></li>
                    <li class=""><a href="/stats/task">Tasks</a></li>
                    <li class=""><a href="/stats/tease">Teases</a></li>
                    <li class=""><a href="/stats/slave">About</a></li>
                </ul>
            </div>

            <div class="well toppad2">
                <p>
                    Your longest time in chastity was about <strong><%= moment.duration(max, "seconds").humanize() %></strong>.
                    Your shortest time was about <strong><%= moment.duration(min, "seconds").humanize() %></strong>.
                </p>
                <p>
                    You have spent a total of around <strong><%= moment.duration(total, "seconds").humanize() %></strong> in chastity since we started keeping track.
                </p>
            </div>

            <div class="toppad2">
                <h4>Chastity Listing</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(data, function(l) { %>
                            <tr>
                                <td><%= formatDate(l.start) %></td>
                                <td>
                                    <% if(l.end) { %>
                                        <%= formatDate(l.end) %>
                                    <% } else { %>
                                    ------
                                    <% } %>
                                </td>
                                <td>
                                    <% if(l.end) { %>
                                    <%= formatInterval(l.start, l.end) %>
                                    <% } else { %>
                                    Ongoing
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>

                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>