<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header">
                <h3>Stats - Orgasms</h3>

                <ul class="list-inline">
                    <li class="active"><a href="/stats/orgasm">Orgasms</a></li>
                    <li class=""><a href="/stats/chastity">Chastity</a></li>
                    <li class=""><a href="/stats/arousal">Arousal</a></li>
                    <li class=""><a href="/stats/punishment">Punishments</a></li>
                    <li class=""><a href="/stats/task">Tasks</a></li>
                    <li class=""><a href="/stats/tease">Teases</a></li>
                    <li class=""><a href="/stats/slave">About</a></li>
                </ul>
            </div>

            <div class="well toppad2">
                <p>
                    Your last orgasm was <strong><%= formatInterval(lastDate, null, true) %></strong> 
                    and occurred on <strong><%= formatDate(lastDate) %></strong>.
                </p>
                <p>
                    When you have your next scheduled orgasm, you will have gone a total of <strong><%= total %></strong> days without an cumming.
                </p>
                <p>
                    You've had <strong><%= count %></strong> orgasms in the last 12 months.  That's about <strong><%= (count/12).toFixed(2) %></strong> orgasms per month.
                </p>
            </div>
            

            <div class="toppad2">
                <h4>Orgasms by Type</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(aggregate, function(l) { %>
                            <tr>
                                <td>
                                    <% if (l.type == 1) { %>
                                    Masturbated
                                    <% } else if (l.type == 2) { %>
                                    Wet Dream
                                    <% } else if (l.type == 3) { %>
                                    Sex
                                    <% } else if (l.type == 4) { %>
                                    Prostate Massage
                                    <% } else if (l.type == 5) { %>
                                    Dual Masturbation (no sex)
                                    <% } else { %>
                                    <%= l.type %>
                                    <% } %>
                                </td>
                                <td>
                                    <%= l.count %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="toppad2">
                <h4>Orgasm Listing</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>DateTime</th>
                                <th>Time Since</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(data, function(l) { %>
                            <tr>
                                <td>
                                    <% if (l.type == 1) { %>
                                    Masturbated
                                    <% } else if (l.type == 2) { %>
                                    Wet Dream
                                    <% } else if (l.type == 3) { %>
                                    Sex
                                    <% } else if (l.type == 4) { %>
                                    Prostate Massage
                                    <% } else if (l.type == 5) { %>
                                    Dual Masturbation (no sex)
                                    <% } else { %>
                                    <%= l.type %>
                                    <% } %>
                                </td>
                                <td><%= formatDate(l.date) %></td>
                                <td><%= formatInterval(l.date, null, true) %></td>
                            </tr>
                            <% }) %>
                        </tbody>

                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>