<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header">
                <h3>Stats - Chastity</h3>

                <ul class="list-inline">
                    <li class=""><a href="/stats/orgasm">Orgasms</a></li>
                    <li class=""><a href="/stats/chastity">Chastity</a></li>
                    <li class=""><a href="/stats/arousal">Arousal</a></li>
                    <li class="active"><a href="/stats/punishment">Punishments</a></li>
                    <li class=""><a href="/stats/task">Tasks</a></li>
                    <li class=""><a href="/stats/tease">Teases</a></li>
                    <li class=""><a href="/stats/slave">About</a></li>
                </ul>
            </div>

            <div class="toppad2">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Severity</th>
                                <th>Assigned</th>
                                <th>Started</th>
                                <th>Finished</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(data, function(l) { %>
                            <tr>
                                <td><%= l.title %></td>
                                <td><%= l.description %></td>
                                <td><%= l.severity %></td>
                                <td><%= formatDate(l.assigned) %></td>
                                <td><%= formatDate(l.start) %></td>
                                <td>
                                    <% if(l.end) { %>
                                        <%= formatDate(l.end) %>
                                    <% } else { %>
                                    ------
                                    <% } %>
                                </td>
                                <td>
                                    <% if(l.end) { %>
                                    <%= formatInterval(l.start, l.end) %>
                                    <% } else { %>
                                    Ongoing
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>

                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>